<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    {% for f in friends %}

    <h2>{{ f }}</h2>

    {% endfor %}

    <form method="POST" action="/submit" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Enter your Name">
        <input type="file" name="userfile">
        <input type="submit">
    </form>
</body>
</html>